:root {
    --white: #ffffff;
    --gray-74: #747474;
    --gray-DD: #DDDDDD;
    --green-9C: #9CD655;
    --black-1F: #1F1F1F;
    --blue-50: #5099B4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
}